.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 40px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navLogo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.navIcon {
  width: 60px;
  object-fit: contain;
  margin-left: 94%;
  height: 50px;
}

.navBlack {
  background-color: black;
}
